@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;

  /* Add color variables */
  --border: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

@layer base {
  * {
    @apply border-gray-200 outline-gray-900/50;
  }
  body {
    @apply bg-white text-gray-900;
  }
}
